<!-- Twitter feature -->
<div class="col-md-6 col-sm-6 hero-feature twitter-feature">
    <div class="caption">
        <a href="http://twitter.com/{{ site.social.twitter.username }}" target="_blank">
            <img class="channel_logo" src="assets/img/vendor/twitter/TwitterLogo.png" style="height:50px;width:50px">
        </a>
        <br>
        <div id="last_tweet"></div>
        <div id="last_tweet_time"></div>
    </div>
    <br>
    <div>
        <a href="https://twitter.com/{{ site.social.twitter.username }}" class="twitter-follow-button" data-size="large" data-show-count="true">Follow @{{ site.social.twitter.username }}</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>